:root {
	--fg: 96.7% 0.001 286.375;
	--bg: 21% 0.006 285.885;
	--primary: 64.5% 0.246 16.439;
}

html,
body {
	padding: 0;
	margin: 0;
	color: oklch(var(--fg));
	background-color: oklch(var(--bg));
	font-family: Geist, Arial, sans-serif;
}
